## Cross validation feature selection

In [7]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

In [8]:
data=pd.read_csv('http://faculty.marshall.usc.edu/gareth-james/ISL/Advertising.csv',index_col=0)
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [9]:
data.shape

(200, 4)

In [10]:
feature_cols=['TV','radio','newspaper']
X=data[feature_cols]
y=data['sales']

In [15]:
linreg=LinearRegression()
scores=cross_val_score(linreg,X,y,cv=10,scoring='neg_mean_squared_error')
print(scores)

[-3.56038438 -3.29767522 -2.08943356 -2.82474283 -1.3027754  -1.74163618
 -8.17338214 -2.11409746 -3.04273109 -2.45281793]

In [19]:
mse_scores=-scores
print(mse_scores)

[3.56038438 3.29767522 2.08943356 2.82474283 1.3027754  1.74163618
 8.17338214 2.11409746 3.04273109 2.45281793]

In [21]:
rsme_scores=np.sqrt(mse_scores)
print(rsme_scores)

[1.88689808 1.81595022 1.44548731 1.68069713 1.14139187 1.31971064
 2.85891276 1.45399362 1.7443426  1.56614748]

In [22]:
print(rsme_scores.mean())

1.6913531708051797

### 10 fold cross validation for two features TV and radio

In [24]:

feature_cols=['TV','radio']
X=data[feature_cols]
y=data['sales']
scores=cross_val_score(linreg,X,y,cv=10,scoring='neg_mean_squared_error')
mse_scores=-scores
rsme_scores=np.sqrt(mse_scores)
print(rsme_scores.mean())

1.6796748419090766

### 10 fold cross validation for two features TV and newspaper

In [25]:
feature_cols=['TV','newspaper']
X=data[feature_cols]
y=data['sales']
scores=cross_val_score(linreg,X,y,cv=10,scoring='neg_mean_squared_error')
mse_scores=-scores
rsme_scores=np.sqrt(mse_scores)
print(rsme_scores.mean())

3.107683697582439

### 10 fold cross validation for two features radio and newspaper

In [26]:
feature_cols=['radio','newspaper']
X=data[feature_cols]
y=data['sales']
scores=cross_val_score(linreg,X,y,cv=10,scoring='neg_mean_squared_error')
mse_scores=-scores
rsme_scores=np.sqrt(mse_scores)
print(rsme_scores.mean())

4.265009423551607